<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Home</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tourism web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %} ">
<link href="//fonts.googleapis.com/css?family=Coda:400,800&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
</head>
<body> 
<div class="main-agile">
	<!-- banner -->
	<div id="home" class="w3ls-banner"> 
		<!-- banner-text -->
		<div class="w3layouts-banner-top">
			<div class="container">
				<div class="agileits-banner-info">
					<div class="rw-wrapper">
				<div class="rw-sentence">
					<div class="rw-words rw-words-1">
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
					</div>
					<div class="rw-words rw-words-2">
						<span>Enjoy Your Vacation</span>
						<span>Enjoy The Freedom</span>
						<span>Enjoy Your Vacation</span>
						<span>Enjoy The Freedom</span>
						<span>Enjoy Your Vacation</span>
						<span>Enjoy The Freedom</span>
					</div>
				</div>
			</div>
				</div>	
				<div class="sap_tabs">	
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item grid1"><span><i class="glyphicon glyphicon-home" aria-hidden="true"></i>Hotels</span></li>
							<li class="resp-tab-item grid2"><span><i class="glyphicon glyphicon-plane" aria-hidden="true"></i>Flights</span></li>
						</ul>				  	 
						<div class="resp-tabs-container">
							<div class="tab-1 resp-tab-content">
								<div class="facts">
									<form action="#" method="post">
										<div class="reservation">
											<ul>		
												<li  class="span1_of_1 desti">
													 <div class="book_date">
															<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
															<input type="text" placeholder="Departure City or Hotel" class="typeahead1 input-md form-control tt-input" required="">
														
													 </div>					
												 </li>
											</ul>
										</div>
										<div class="reservation">
											<ul>	
												 <li  class="span1_of_1">
													 <h5>Check In</h5>
													 <div class="book_date">
													<div class="book_date">
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
														 
													</div>	
													 </div>		
												 </li>
												 <li  class="span1_of_1 left">
													 <h5>Check Out</h5>
													 <div class="book_date">
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
														
													 </div>					
												 </li>
											</ul>
										</div>
										<div class="reservation w3l-submit">
											<ul>	
												 <li class="span1_of_3">
														<div class="date_btn">
																<input type="submit" value="Submit" />
														</div>
												 </li>
											</ul>
										</div>
									</form>
								<div class="clearfix"></div>
								</div>
							</div>
							<div class="tab-1 resp-tab-content">
								<div class="facts">
									<form action="#" method="post">
										<div class="flights">
											<div class="reservation">
												<ul>		
													<li  class="span1_of_1 desti1">
														 <div class="book_date">
															
																<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
																<input type="text" placeholder="From" class="typeahead1 input-md form-control tt-input" required="">
															
														 </div>					
													 </li>
													 <li  class="span1_of_1 desti1">
														 <div class="book_date">
														
																<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
																<input type="text" placeholder="To" class="typeahead1 input-md form-control tt-input" required="">
															
														 </div>					
													 </li>
												</ul>
											</div>
											<div class="reservation">
												<ul>	
													 <li  class="span1_of_1">
														 <h5>Departure</h5>
														 <div class="book_date">
														
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
														
														 </div>		
													 </li>
													 <li  class="span1_of_1 left">
														 <h5>Return</h5>
														 <div class="book_date">
														
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}">
													
														 </div>					
													 </li>
												</ul>
											</div>
											<div class="reservation w3l-submit">
												<ul>	
													 <li class="span1_of_3">
															<div class="date_btn">
															
																	<input type="submit" value="Search Flights" />
															
															</div>
													 </li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>
<!-- //banner-text -->
<!-- //banner --> 
<!-- header -->
<div class="header-w3layouts"> 
	<!-- Navigation -->
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Travelcation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div> 
		<div class="logo-agile-1"> 
			<h1><a class="logo" href = "{% url 'module1:home' %}"><i class="fa fa-plane" aria-hidden="true"></i>Travelcation</a></h1>
		</div> 
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li  class="active"><a href = "{% url 'module1:home' %}">Home</a></li>
					<li><a class="" href = "{% url 'module1:services' %}">Services</a></li>
					<li><a class="" href = "{% url 'module1:gallery' %}">Gallery</a></li>
					<li><a class="" href = "{% url 'module1:contact' %}">Contact Us</a></li>
			</ul>
			<div class="w3ls-social-icons-2">
					<a class="facebook" href="https://www.facebook.com/KalyanVissamsetty"><i class="fa fa-facebook"></i></a>
					<a class="twitter" href="https://twitter.com/kalyan_youtuber"><i class="fa fa-twitter"></i></a>
					<a class="pinterest" href="https://pin.it/6nsRyyH"><i class="fa fa-google-plus"></i></a>
					<a class="linkedin" href="https://www.linkedin.com/in/vissamsetty-kalyan-27a28918a/"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
		<!-- //navbar-collapse -->
	</nav>  
	<div class="clearfix"> </div>
</div>	
<!-- //header -->
<!-- welcome -->

<!-- //stats -->
<!-- Popular -->
<div class="albums">
	<div class="container">
		<h3 class="agile-title">MOST POPULAR</h3> 
		<div class="w3layouts_header">
			<p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-left"> 
				<div class="wthree-almub">  
				</div>
			</div>
			<div class="albums-right">
				<h4>Dolor Sit</h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-left"> 
				<div class="wthree-almub wthree-almub2"> 
				</div> 
			</div>
			<div class="albums-right">
				<h4>Consequat</h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>  
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums1-right"> 
				<div class="wthree-almub wthree-almub3">  
				</div>
			</div>
			<div class="albums1-left">
				<h4>Dolores Btrs</h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div> 
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums1-right"> 
				<div class="wthree-almub wthree-almub4">  
				</div>
			</div>
			<div class="albums1-left">
				<h4>Nam aliquam</h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div> 
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div> 
	</div>
</div>
<footer>
	<div class="agileinfo-footer">
		<div class="container">
			<div class="agileits-footer-top">
				<div class="col-sm-4 w3ls-address-grid">
					<i class="glyphicon glyphicon-map-marker"></i>
					<div class="w3-address1">
						<p>Vijayawada</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-4 w3ls-address-grid">
					<i class="glyphicon glyphicon-phone"></i>
					<div class="w3-address1">
						<p>+91 9182421379</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-4 w3ls-address-grid">
					<i class="glyphicon glyphicon-envelope"></i>
					<div class="w3-address1">
						<p><a href="mmailto:vissamsettykalyan@gmail.com">vissamsettykalyan@gmail.com</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- newsletter -->
			<div class="w3layouts-newsletter">
				<div class="col-md-5 wthree-join">
					<h2><i class="fa fa-envelope" aria-hidden="true"></i>Join our Newsletter</h2>
				</div>
				<div class="col-md-7 agileinfo-newsletter">
					<form action="#" method="post">
						<input type="email"	placeholder="Enter Your Email" name="email" required="" />
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-bottom">
				<div class="counter-agile">
					<div class="counter-subw3l">
						<p><a href = "{% url 'home' %}"><i class="fa fa-plane" aria-hidden="true"></i>Travelcation</a></p>
					</div>
					<div class="ftr-menu">
						 <ul>
							<li class=""><a href = "{% url 'module1:home' %}">Home</a></li>
							<li class="active" ><a href = "{% url 'module1:services' %}">Services</a></li>
							<li><a class="" href = "{% url 'module1:gallery' %}">Gallery</a></li>
							<li><a class="" href = "{% url 'module1:contact' %}">Contact Us</a></li>
						 </ul>
					</div>
					<div class="counter-subw3l w3l-right-footer">
						<ul class="w3layouts-agileits-social">
							<li><a href="https://www.facebook.com/KalyanVissamsetty"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/kalyan_youtuber"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://pin.it/6nsRyyH"><i class="fa fa-rss"></i></a></li>
							<li><a href="https://www.linkedin.com/in/vissamsetty-kalyan-27a28918a/"><i class="fa fa-vk"></i></a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //Counter -->
		</div>
		<div class="agileits-footer-bottom">
			<p class="footer-class">&copy; 2021 Travelcation. All Rights Reserved </p>
		</div>
	</div>
</footer>
	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
	<!-- //Easy Responsivetabs -->
	<!-- strat-date-piker -->

	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	  <script>
			  $(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
			  });
	  </script>
	<script type="text/javascript" src="{% static 'js/numscroller-1.0.js' %}"></script>
</body>
</html>