<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Home</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Tourism web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %} ">
<link href="//fonts.googleapis.com/css?family=Coda:400,800&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
</head>
<body>
<div class="main-agile">
	<!-- banner -->
	<div id="home" class="w3ls-banner"> 
		<!-- banner-text -->
		<div class="w3layouts-banner-top">
			<div class="container">
				<div class="agileits-banner-info">
					<div class="rw-wrapper">
				<div class="rw-sentence">
					<div class="rw-words rw-words-1">
					{% if messages %}
						{% for message in messages %}
							<span>{{ message }}</span>
							<span>{{ message }}</span>
						{% endfor %}
					{% endif %}
					</div>
					<div class="rw-words rw-words-1">
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
						<span>Welcome To Travelaction</span>
					</div>
					<div class="rw-words rw-words-2">
						<span>Enjoy Your Vacation</span>
						<span>Enjoy The Freedom</span>
						<span>Enjoy Your Vacation</span>
						<span>Enjoy The Freedom</span>
						<span>Enjoy Your Vacation</span>
						<span>Enjoy The Freedom</span>
					</div>
				</div>
			</div>
				</div>	
				<div class="sap_tabs">	
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item grid1"><span><i class="glyphicon glyphicon-home" aria-hidden="true"></i>Hotels</span></li>
							<li class="resp-tab-item grid2"><span><i class="glyphicon glyphicon-plane" aria-hidden="true"></i>Flights</span></li>
						</ul>				  	 
						<div class="resp-tabs-container">
							<div class="tab-1 resp-tab-content">
								<div class="facts">
									<form action="{% url 'module1:hotels_list' %}" method="post">
										{% csrf_token %}
										<div class="reservation">
											<ul>
												<li  class="span1_of_1 desti">
													 <div class="book_date">
<!--															<input type="text" placeholder="Departure City or Hotel" class="typeahead1 input-md form-control tt-input" required="" name="city">-->
														 <center>

														 <select name="city">
															 <option value="some">Select City</option>
															<option value="Hyderabad">Hyderabad</option>
															<option value="Kolkata">Kolkata</option>
															<option value="New Delhi">New Delhi</option>
															<option value="Mumbai">Mumbai</option>
															<option value="Kolkata">Kolkata</option>
															<option value="Vijayawada">Vijayawada</option>
															<option value="Chennai">Chennai</option>
															<option value="Coimbatore">Coimbatore</option>
															<option value="Visakhapatnam">Visakhapatnam</option>
															<option value="Goa">Goa</option>
															<option value="Manali">Manali</option>
															<option value="Pondicherry">Pondicherry</option>
															<option value="Kanyakumari">Kanyakumari</option>
															 <option value="SriNagar">SriNagar</option>
														  </select>
															 </center>


													 </div>					
												 </li>
											</ul>
										</div>
										{% comment %} <div class="reservation">
											<ul>	
												 <li  class="span1_of_1">
													 <h5>Check In</h5>
													 <div class="book_date">
													<div class="book_date">
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker3" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}">
													</div>	
													 </div>		
												 </li>
												 <li  class="span1_of_1 left">
													 <h5>Check Out</h5>
													 <div class="book_date">
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker4" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}">
														
													 </div>					
												 </li>
											</ul>
										</div> {% endcomment %}
										<div class="reservation w3l-submit">
											<ul>	
												 <li class="span1_of_3">
														<div class="date_btn">
															<br>
															{% if user.is_authenticated %}

																{% else %}
																	<h4 style="color:skyblue;">You need to have an Account to View Available Hotels</h4>
																{% endif %}
																<input type="submit" value="Submit" />
														</div>
												 </li>
											</ul>
										</div>
									</form>
								<div class="clearfix"></div>
								</div>
							</div>
							<div class="tab-1 resp-tab-content">
								<div class="facts">
									<form action="{% url 'module1:list' %}" method="get">
										<div class="flights">
											<div class="reservation">
												<ul>
													<center>
													<li  class="span1_of_1 desti1">
														 <div class="book_date">
<!--																<input type="text" placeholder="From" class="typeahead1 input-md form-control tt-input" name="source" id="source" required="">-->
															 <select name="source">
															 <option value="source">Source</option>
															<option value="Hyderabad">Hyderabad</option>
															<option value="Kolkata">Kolkata</option>
															<option value="New Delhi">New Delhi</option>
															<option value="Mumbai">Mumbai</option>
															<option value="Bengaluru">Bengaluru</option>
														  </select>
														 </div>					
													 </li>
													 <li  class="span1_of_1 desti1">
														 <div class="book_date">
														

<!--																<input type="text" placeholder="To" class="typeahead1 input-md form-control tt-input" required="" id="destination" name="destination">-->
															<select name="destination">
															 <option value="source">Destination</option>
															<option value="Hyderabad">Hyderabad</option>
															<option value="Kolkata">Kolkata</option>
															<option value="New Delhi">New Delhi</option>
															<option value="Mumbai">Mumbai</option>
															<option value="Bengaluru">Bengaluru</option>
														  </select>
														 </div>					
													 </li>
														</center>
												</ul>
											</div>
											{% comment %} <div class="reservation">
												<ul>	
													 <li  class="span1_of_1">
														 <h5>Departure</h5>
														 <div class="book_date">
														
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker1" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}">
														
														 </div>		
													 </li>
													 <li  class="span1_of_1 left">
														 <h5>Return</h5>
														 <div class="book_date">
														
															<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
															<input  id="datepicker2" name="date" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}">
													
														 </div>					
													 </li>
												</ul>
											</div> {% endcomment %}
											<div class="reservation w3l-submit">
												<ul>	
													 <li class="span1_of_3">

															<div class="date_btn">
																<br><br><br>
																{% if user.is_authenticated %}

																{% else %}
																	<h4 style="color:skyblue;">You need to have an Account to View Available Flights</h4>
																{% endif %}

																	<input type="submit" value="Search Flights" />
															
															</div>
													 </li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>
<!-- //banner-text -->
<!-- //banner -->
<!-- header -->
<div class="header-w3layouts">
	<!-- Navigation -->
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Travelcation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="logo-agile-1">
			<h1><a class="logo" href = "{% url 'module1:home' %}"><i class="fa fa-plane" aria-hidden="true"></i>Travelcation</a></h1>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-right">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				{% if user.is_authenticated %}
					<li><a class="" style="color: black; font-size:17px">Welcome, {{user.username}}</a></li>
				{% endif %}
					<li  class="active"><a href = "{% url 'module1:home' %}">Home</a></li>
					<li><a class="" href = "{% url 'module1:services' %}">Services</a></li>
					<li><a class="" href = "{% url 'module1:gallery' %}">Gallery</a></li>
					<li><a class="" href = "{% url 'module1:contact' %}">Contact Us</a></li>
				{% if user.is_authenticated %}
                	<li><a class="" href = "{% url 'initial:profile' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Profile</a></li>
					<li><a class="" href = "{% url 'module1:dologout' %}">Logout</a></li>
              	{% else %}
                	<li><a class="" href = "{% url 'initial:register' %}">&nbsp;Login</a></li>
					<li><a class="" href = "{% url 'initial:register' %}">Register</a></li>
              	{% endif %}

			</ul>

		</div>
		<!-- //navbar-collapse -->
	</nav>
	<div class="clearfix"> </div>
</div>
<!-- //header -->
<!-- welcome -->

<!-- //stats -->
<!-- Popular -->
<div class="albums">
	<div class="container">
		<h3 class="agile-title">MOST POPULAR</h3> 
		<div class="w3layouts_header">
			<p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-left"> 
				<div class="wthree-almub">  
				</div>
			</div>
			<div class="albums-right">
				<h4>Hyderabad</h4>
				<p>Hyderabad is the capital of Telangana in Southern India, located on the banks of the Musi River and on the Deccan Plateau.</p>

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-left"> 
				<div class="wthree-almub wthree-almub2"> 
				</div> 
			</div>
			<div class="albums-right">
				<h4>New Delhi</h4>
				<p>New Delhi is the capital of India .New Delhi is also the seat of all three branches of the government of India,</p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>  
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums1-right"> 
				<div class="wthree-almub wthree-almub3">  
				</div>
			</div>
			<div class="albums1-left">
				<h4>Mumbai</h4>
				<p>Mumbai also known as Bombay, the official name until 1995) is the capital city of Maharashtra</p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div> 
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums1-right"> 
				<div class="wthree-almub wthree-almub4">  
				</div>
			</div>
			<div class="albums1-left">
				<h4>Bengaluru</h4>
				<p>Bangalore, officially known as Bengaluru is the capital and the largest city of the Indian state of Karnataka. </p>
				<a class="w3more" href = "{% url 'module1:services' %}"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div> 
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div> 
	</div>
</div>
<footer>
	<div class="agileinfo-footer">
		<div class="container">
			<div class="agileits-footer-top">
				<div class="col-sm-4 w3ls-address-grid">
					<i class="glyphicon glyphicon-map-marker"></i>
					<div class="w3-address1">
						<p>Vijayawada</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-4 w3ls-address-grid">
					<i class="glyphicon glyphicon-phone"></i>
					<div class="w3-address1">
						<p>+91 9182421379</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-sm-4 w3ls-address-grid">
					<i class="glyphicon glyphicon-envelope"></i>
					<div class="w3-address1">
						<p><a href="mmailto:vissamsettykalyan@gmail.com">vissamsettykalyan@gmail.com</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- newsletter -->
			<div class="w3layouts-newsletter">
				<div class="col-md-5 wthree-join">
					<h2><i class="fa fa-envelope" aria-hidden="true"></i>Join our Newsletter</h2>
				</div>
				<div class="col-md-7 agileinfo-newsletter">
					<form action="#" method="post">
						<input type="email"	placeholder="Enter Your Email" name="email" required="" />
						<input type="submit" value="Subscribe">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="services-bottom">
				<div class="counter-agile">
					<div class="counter-subw3l">
						<p><a href = "{% url 'module1:home' %}"><i class="fa fa-plane" aria-hidden="true"></i>Travelcation</a></p>
					</div>
					<div class="ftr-menu">
						 <ul>
							<li class=""><a href = "{% url 'module1:home' %}">Home</a></li>
							<li class="active" ><a href = "{% url 'module1:services' %}">Services</a></li>
							<li><a class="" href = "{% url 'module1:gallery' %}">Gallery</a></li>
							<li><a class="" href = "{% url 'module1:contact' %}">Contact Us</a></li>
							 <li><a class="" href = "{% url 'module1:contact' %}">{{context.u}}</a></li>
						 </ul>
					</div>
					<div class="counter-subw3l w3l-right-footer">
						<ul class="w3layouts-agileits-social">
							<li><a href="https://www.facebook.com/KalyanVissamsetty"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/kalyan_youtuber"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://pin.it/6nsRyyH"><i class="fa fa-rss"></i></a></li>
							<li><a href="https://www.linkedin.com/in/vissamsetty-kalyan-27a28918a/"><i class="fa fa-vk"></i></a></li>
						</ul>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //Counter -->
		</div>
		<div class="agileits-footer-bottom">
			<p class="footer-class">&copy; 2021 Travelcation. All Rights Reserved </p>
		</div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
	<script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
	</script>
	<!-- //Easy Responsivetabs -->
	<!-- strat-date-piker -->

	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
	<script src="{% static 'js/jquery-ui.js' %}"></script>
	  <script>
			  $(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
			  });
	  </script>
	<script type="text/javascript" src="{% static 'js/numscroller-1.0.js' %}"></script>

</body>
</html>