{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
<link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css'>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<style>

	@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #f5eee7;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.container {
    height: 100vh
}

.card {
    border: none
}

.card-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: none
}

.btn-light:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, .5)
}

.form-control {
    height: 50px;
    border: 2px solid #eee;
    border-radius: 6px;
    font-size: 14px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #039be5;
    outline: 0;
    box-shadow: none
}

.input {
    position: relative
}

.input i {
    position: absolute;
    top: 16px;
    left: 11px;
    color: #989898
}

.input input {
    text-indent: 25px
}

.card-text {
    font-size: 13px;
    margin-left: 6px
}

.certificate-text {
    font-size: 12px
}

.billing {
    font-size: 11px
}

.super-price {
    top: 0px;
    font-size: 22px
}

.super-month {
    font-size: 11px
}

.line {
    color: #bfbdbd
}

.free-button {
    background: #1565c0;
    height: 52px;
    font-size: 15px;
    border-radius: 8px
}

.payment-card-body {
    flex: 1 1 auto;
    padding: 24px 1rem !important
}
</style>
{% block content %}
<head>

	<title>Payment Page</title>
	<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
	<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


	<style type="text/css">
		body{
			background-color: #f0f0f0;
			
		}

	</style>
</head>
<body>
<center><h2 style="margin-top:20px;">PAYMENT FORM</h2></center>
<!--{% for product in fo %}-->
<!--	<div class="container" style="width:300px;">-->
<!--		<div class="row">-->
<!--			-->
<!--			<div class="col-lg">-->
<!--				<br>-->
<!--				<div class="card card-body" style="align-items:center;" >-->
<!--					<h4>Flight Name: {{product.flight_name}}</h4>-->
<!--					<hr>-->
<!--					<h4>From: {{product.source}}</h4>-->
<!--					<hr>-->
<!--                    <h4>From: {{product.destination}}</h4>-->
<!--					<hr>-->
<!--					<h4>Flight ID: {{product.flight_id}}</h4><hr>-->
<!--					<h4>Price of Ticket: ₹{{product.price}}</h4><hr>-->
<!--					<h4>Number of Seats: {{uy}}</h4><hr>-->
<!--					<h4>Total Amount: ₹{{to}}</h4>-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--{% endfor %}-->

	 <script src="https://www.paypal.com/sdk/js?client-id=ARLpmT2Z59pG_qwN11x14NQY56WL50NzDWalsp1NXd4v_HpwQUt4coQnfQJ1_zMgKc2okK1uDpkOtqXs&currency=USD&disable-funding=credit"></script>
	 <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{ 
                        amount: {
                            value: {{to}}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    completeOrder()
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
{% for product in fo %}

<form action="{% url 'module2:savepayment' product.flight_id uy to %}" method="post">
    {% csrf_token %}
<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="row g-3">
        <div class="col-md-6"> <span>Payment Method</span>
            <div class="card">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header p-0" id="headingTwo">
                            <h2 class="mb-0"> <button class="btn btn-light btn-block text-left collapsed p-3 rounded-0 border-bottom-custom" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="d-flex align-items-center justify-content-between"> <span>Paypal</span> <img src="https://i.imgur.com/7kQEsHU.png" width="30"> </div>
                                </button> </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body"> <input type="text" class="form-control" placeholder="Paypal email"> </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0">
                            <h2 class="mb-0"> <button class="btn btn-light btn-block text-left p-3 rounded-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="d-flex align-items-center justify-content-between"> <span>Credit card</span>
                                        <div class="icons"> <img src="https://i.imgur.com/2ISgYja.png" width="30"> <img src="https://i.imgur.com/W1vtnOV.png" width="30"> <img src="https://i.imgur.com/35tC99g.png" width="30"> <img src="https://i.imgur.com/2ISgYja.png" width="30"> </div>
                                    </div>
                                </button> </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">

                            <div class="card-body payment-card-body">
								<span class="font-weight-normal card-text">Enter Full Name</span>
								<div class="input"> <i class="fa fa-credit-card"></i> <input type="text" class="form-control" name="fullname" placeholder="Full Name"> </div>
								<span class="font-weight-normal card-text">Card Number</span>
								<div class="input"> <i class="fa fa-credit-card"></i> <input type="text" class="form-control" name="cardno" placeholder="0000 0000 0000 0000"> </div>

                                <div class="row mt-3 mb-3">
                                    <div class="col-md-6"> <span class="font-weight-normal card-text">Expiry Date</span>
                                        <div class="input"> <i class="fa fa-calendar"></i> <input type="text" class="form-control" name="date" placeholder="MM/YY"> </div>
                                    </div>
                                    <div class="col-md-6"> <span class="font-weight-normal card-text">CVC/CVV</span>
                                        <div class="input"> <i class="fa fa-lock"></i> <input type="text" class="form-control" name="cvv" placeholder="000"> </div>
                                    </div>
                                </div> <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured with ssl certificate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"> <span>Summary</span>
            <div class="card">
				<div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>Flight Name: </span> <span>{{product.flight_name}}</span> </div>
                </div>
                <div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>From: </span> <span>{{product.source}}</span> </div>
                </div>
				<div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>To: </span> <span>{{product.destination}}</span> </div>
                </div>
				<div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>Flight ID:  </span> <span>{{product.flight_id}}</span> </div>
                </div>
				<div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>Price of Ticket:  </span> <span>₹{{product.price}}</span> </div>
                </div>
				<div class="p-3">
                    <div class="d-flex justify-content-between mb-2"> <span>Number of Seats:  </span> <span>{{uy}}</span> </div>
                </div>
                <hr class="mt-0 line">
                <div class="p-3 d-flex justify-content-between">
                    <div class="d-flex flex-column"> <span>Total Amount</span> <small> </small> </div><span>₹{{to}}</span>
                </div>
                <div class="p-3"> <button type="submit" class="btn btn-primary btn-block free-button">Make Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endfor %}
<center>
	<div id="paypal-button-container" style="margin-top:30px;"></div>
</center>
</body>

{% endblock %}